:root{
    --backgroundPage-color:#F3F5FC;
    --backgroundColor-aside:#FFFFFF;
    --input-color:#0A3871;
    --footer-color:#176B87;
    --color-text-gray:#495057;
    --color-text-answers:#343A40;
    --color-button-primary:#0A3871;
    --color-button-secondary:#D8DFE8;
    --color-button-secondary-hover: #1D24CA;

}

body{
    padding:0px;
    margin:0px;

    background-color: var(--backgroundPage-color);

    font-family:Inter;
    overflow:scroll;
   
}
* {
    box-sizing: border-box;
  }

.jumbotron{
    width:100vw;
    height:98vh;
}
.container{
    display:flex;
    justify-content: space-between;

    width:99vw;
    height:100%;

}
/*//////////HEADER////////////*/
.imageHeader{
 margin:2.5rem 0 0 2.5rem;  
 width:7.5rem;
 height:3rem;

 gap:2.5rem;

}
.imageHeader img{
    width:100%;
    height:100%;

}

/*//////////////INPUT AREA////////*/
.containerInput{
    display:flex;
    flex-direction:column; 
    justify-content: space-between;
   
}

#initialText{
    font-family:Inter;
    font-size: 2rem;
    font-weight:400px;

    max-width:42.5rem;
    max-height:15rem;
    margin:10.5rem 0 0 10rem;

    background-color: var(--backgroundPage-color);
    border:none;

    color: var( --input-color)
}

/*////////// SCREEN ASIDE/////////////////////*/
.containerImage{
    width: 25rem;
    height:59rem;

    display:flex;
  
    align-items: center;
    flex-direction:column;

    border-radius:2rem;

    background-color: var(--backgroundColor-aside);
    
}
.screenImage{
    
    visibility:hidden;
}
.screenArea{
    visibility:hidden;

}
#screenArea{
  
    height:100%;

    position:absolute;
    
}
.containerImage-img{
    width:21rem;
    height:19rem;
    margin-top:17.6rem;
}
.containerImageMensage{
    width:21rem;
    height:7.6rem;
    gap:1rem;

    text-align:center;
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
    color: var(--color-text-gray);
    
}
.containerImage h2{
    color: var(--color-text-answers);

    font-weight:700;
    font-size:2rem;

    text-align:center;

}
.copyArea{
    width:21rem;
    height:48rem;
    margin-top: 2.5rem;

    text-align:center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Inter;
    Line-height: 2.2rem;

    color: var(--color-text-gray);

    display:flex;
    flex-direction: column;
    overflow:auto;
   

}

/*///////////buttons Area//////////////*/
.containerButtons{
    margin-left:-5rem;
    margin-bottom:3rem;

   
}

.buttonsText{
    display:flex;
    align-items: center;
    color:var(--color-text-gray);

    font-weight:400;
    font-size:.7rem;

    width:15,7rem;
    height: 1.1rem;
    margin-left: 15rem;
    gap:.5rem;

}
.buttonsText img{
    width:1rem;
    height:1rem;
    
}
.buttonsButton{
    display:flex;

    margin-left: 15rem;
    margin-top:.5rem;
    gap:1.5rem;
   
}
.btn-primary{
    width:20.5rem;

    padding: 1.5rem;
    border: solid .06rem;
    border-radius:1.5rem;

    font-family: Inter;
    font-size: 1rem;
    line-height:1.21rem;
    font-weight: 400;

    background-color: var(--color-button-primary);
    color: var(--backgroundColor-aside);
    cursor:pointer;
    

}
.btn-secondary{
    width:20.5rem;

    padding: 1.5rem;
    border: solid .06rem;
    border-radius:1.5rem;

    font-family: Inter;
    font-size: 1rem;
    line-height:1.21rem;
    font-weight: 400;

    background-color: var(--color-button-secondary);
    color: var(--color-button-primary);
    cursor: pointer;

    
}
.btn-primary:hover{

    background-color: var(--backgroundColor-aside);
    color: var(--color-button-primary);
    
}
.btn-secondary:hover{
    background-color: var(--color-button-secondary-hover);
    color: var( --color-button-secondary);
   
}
.asideButton {
    width:330px;
    height: 4rem;

    font-family: Inter;
    font-size: 1rem;
    line-height:1.21rem;
    font-weight: 400;

    border-radius:1.5rem;
    border:.06rem solid var(--color-button-primary);
    padding:1.5rem;

    background-color:var(--backgroundColor-aside);
    color:var(--color-button-primary);

    gap:.5rem;
    cursor: pointer;

  
}
.asideButton:hover{

    background-color: var(--color-button-primary);
    color: var(--backgroundColor-aside)

}
*/
footer{
    background-color: var(--footer-color);
    color: var(--backgroundColor-aside);

    display:flex;
    justify-content: center;
    height:3rem;
}
footer p{

    text-align: center;
    font:400 1.2rem Inter;

    opacity:.5;
}
@media (max-width:390px){
 
    .jumbotron{
    
        width:100vw;
        height:100vh;
 
        overflow:visible;
    }
    header{
        height:8%;
    }
    main{
        height:85%;
    }
    footer{
        height:4%;

        background-color: var(--footer-color);
        color: var(--backgroundColor-aside);

        align-items: center;
    }
    .container{
        width:99vw;
        height:100%;

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin-left: .5rem;


    }
 
    .imageHeader{
        margin:1.4rem 0 0 1rem;  
        width:1.8rem;
        height:3rem;
       
        gap:1rem;
       
    }
    .containerInput{
      
        margin-top: 9rem;
       
    }
    #initialText{

        width:95%;
        max-height:12rem;

        margin-left:.3rem;
        margin-top:-7rem;

    
     
        border-radius:1rem;

    }
    .containerButtons{
       margin-left:-14.5rem;
        margin-bottom:.5rem;
        margin-top:1rem;
    
       
    }  
    /*///////////aside image/////////////*/
    .containerImage{
        width:99%;
        max-height:55rem;

        display:flex;
        align-items: center;
        flex-direction: column;
        overflow:scroll;
       
    }
    .containerImage-img,
    #screenImage{
        overflow:hidden;
        height:.1rem;
    }
    #screenArea{
        width:90%;
        height:.1rem;
    }
    .copyArea{
       width:100%;
       max-height:17rem;
       margin-top: .5rem;

       overflow:scroll;
       
    }
    .screenText{
        max-height:16rem;
   
    }
    .containerImageMensage{
        height:100%;
        overflow:hidden;
    }
    /*//////// BUTTONS///////*/
   .buttonsText{
    margin-Top:2rem;
   }
    .buttonsButton{
        flex-direction: column;

        width:343px;
        height:158px;

    }
    .btn-primary{
        height:4rem;
        justify-content: center;
    }

 
   
}